<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BikeTraceMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BIKETRACE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		ORDERNO,	
		RENTTM,	
		RENTPARK,	
		RETURNPARK,	
		BIKETRACE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{ORDERNO},	
		#{RENTTM},	
		#{RENTPARK},	
		#{RETURNPARK},	
		#{BIKETRACE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			BIKETRACE_ID = #{BIKETRACE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ID = #{ID},
			ORDERNO = #{ORDERNO},
			RENTTM = #{RENTTM},
			RENTPARK = #{RENTPARK},
			RETURNPARK = #{RETURNPARK},
		BIKETRACE_ID = BIKETRACE_ID
		where 
		BIKETRACE_ID = #{BIKETRACE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BIKETRACE_ID = #{BIKETRACE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="cyclingTrackList" parameterType="page" resultType="pd">

		select CONCAT('[{name:',"'",t.fromView,"'",'}, {name:',"'", t.toView,"'",',value:', count(1), '}]') as fromView, 
		t.toView, count(1) as cnt  from bigdata_bike_viewtrace t
		where 1=1
		and
		fromView is not null
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			date(from_unixtime(t.renttime/1000, '%Y-%m-%d')) <![CDATA[ >= ]]> #{pd.startDate}
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			date(from_unixtime(t.renttime/1000, '%Y-%m-%d')) <![CDATA[ <= ]]> #{pd.endDate}
			)
		</if>
		group by t.fromView, t.toView,DATE(from_unixtime(t.renttime/1000, '%Y-%m-%d'));

	</select>
	
	<!-- 列表 -->
	<select id="cyclingTrackList2" parameterType="page" resultType="pd">

		select t.fromView, t.toView, count(1) as cnt , DATE(from_unixtime(t.renttime/1000, '%Y-%m-%d')) as renttime from bigdata_bike_viewtrace t
		where 1=1
		and
		fromView is not null
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			date(from_unixtime(t.renttime/1000, '%Y-%m-%d')) <![CDATA[ >= ]]> #{pd.startDate}
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			date(from_unixtime(t.renttime/1000, '%Y-%m-%d')) <![CDATA[ <= ]]> #{pd.endDate}
			)
		</if>
		group by t.fromView, t.toView,DATE(from_unixtime(t.renttime/1000, '%Y-%m-%d'));

	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			BIKETRACE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="getTopFive" parameterType="page" resultType="pd">
		select uc.toView, sum(uc.cnt) as sumcnt from (select v.fromView, v.toView, count(*) as cnt from bigdata_bike_viewtrace v 
		where 1=1
		 <if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
				(
				DATE(from_unixtime(v.renttime/1000, '%Y-%m-%d')) <![CDATA[ >= ]]> #{pd.startDate}
				)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
				(
				DATE(from_unixtime(v.renttime/1000, '%Y-%m-%d')) <![CDATA[ <= ]]> #{pd.endDate}
				)
		</if>
		group by v.fromview, v.toview) uc group by uc.toView  order by sumcnt desc limit 5;
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>