<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BikeDayMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BIKEDAY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		RIDENUM,	
		RIDETIME,	
		AVERIDETM,	
		DATE,	
		BIKEDAY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{RIDENUM},	
		#{RIDETIME},	
		#{AVERIDETM},	
		#{DATE},	
		#{BIKEDAY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			BIKEDAY_ID = #{BIKEDAY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ID = #{ID},
			RIDENUM = #{RIDENUM},
			RIDETIME = #{RIDETIME},
			AVERIDETM = #{AVERIDETM},
			DATE = #{DATE},
		BIKEDAY_ID = BIKEDAY_ID
		where 
		BIKEDAY_ID = #{BIKEDAY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BIKEDAY_ID = #{BIKEDAY_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			BIKEDAY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="rideTmArea" parameterType="page" resultType="pd">
		 select 
		 	sum(s.ridenm) as sumridenm, 
		 	s.ridearea as ridearea from 
		 	(	 	
			select 
				t.ridenum as ridenm, 
				case 
					when t.ridetime BETWEEN 0 and 10 then 10 
					when t.ridetime BETWEEN 10 and 20 then 20 
					when t.ridetime BETWEEN 20 and 30 then 30 
					when t.ridetime BETWEEN 30 and 40 then 40 
					when t.ridetime BETWEEN 40 and 50 then 50 
					when t.ridetime BETWEEN 50 and 60 then 60 
					when t.ridetime BETWEEN 60 and 70 then 70 
					when t.ridetime BETWEEN 70 and 80 then 80 
					when t.ridetime BETWEEN 80 and 90 then 90 
					when t.ridetime BETWEEN 90 and 100 then 100 
				else 100 end as ridearea
 			from bigdata_bike_day t 
 			where 1=1 
		 	<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
				(
				t.date &gt; #{pd.startDate}
				)
			</if>
			<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
				(
				t.date &lt; #{pd.endDate}
				)
			</if>
		) s group by s.ridearea
	</select>
</mapper>