<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TourAgentMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BIGDATA_OTA_TICKAGENT_DAY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		TICKNAME,	
		TICKID,	
		SPOTNAME,	
		SPOTID,	
		DATE,	
		CNT
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{TICKNAME},	
		#{TICKID},	
		#{SPOTNAME},	
		#{SPOTID},	
		#{DATE},	
		#{CNT},	
		#{TOURAGENT_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TOURAGENT_ID = #{TOURAGENT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ID = #{ID},
			TICKNAME = #{TICKNAME},
			TICKID = #{TICKID},
			SPOTNAME = #{SPOTNAME},
			SPOTID = #{SPOTID},
			DATE = #{DATE},
			CNT = #{CNT},
		TOURAGENT_ID = TOURAGENT_ID
		where 
		TOURAGENT_ID = #{TOURAGENT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TOURAGENT_ID = #{TOURAGENT_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TOURAGENT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
		<select id="tourAgentCnt" parameterType="page" resultType="pd">
		select id, tickid, tickname, spotid, spotname, date, cnt, rationum from bigdata_ota_tickagent_day
		where 1=1 and spotid = '1' 
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
				(
				date <![CDATA[ >= ]]> #{pd.startDate}
				)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
				(
				date <![CDATA[ <= ]]> #{pd.endDate}
				)
		</if>
	</select>
	
	
	<select id="tourAgentChart" parameterType="page" resultType="pd">

		select s.name, count(t.id) as value
		FROM	 ota_agent_orders t,ota_agent_ticket m,ota_agents s
		WHERE t.agentId = s.id AND t.ticketTypeId = m.id  AND m.spotId = 1
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			t.ticketDate <![CDATA[ >= ]]> #{pd.startDate}
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			t.ticketDate <![CDATA[ <= ]]> #{pd.endDate}
			)
		</if>
		GROUP BY s.NAME
	</select>
	
	<!-- fh313596790qq(青苔) -->
</mapper>