<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonCustomerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PERSONCUSTOMER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		PROVNAME,	
		PROVPNUM,	
		PROVPERCENT,	
		CREATEDATE,	
		PERSONCUSTOMER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{PROVNAME},	
		#{PROVPNUM},	
		#{PROVPERCENT},	
		#{CREATEDATE},	
		#{PERSONCUSTOMER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PERSONCUSTOMER_ID = #{PERSONCUSTOMER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ID = #{ID},
			PROVNAME = #{PROVNAME},
			PROVPNUM = #{PROVPNUM},
			PROVPERCENT = #{PROVPERCENT},
			CREATEDATE = #{CREATEDATE},
		PERSONCUSTOMER_ID = PERSONCUSTOMER_ID
		where 
		PERSONCUSTOMER_ID = #{PERSONCUSTOMER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PERSONCUSTOMER_ID = #{PERSONCUSTOMER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PERSONCUSTOMER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="provChart" parameterType="page" resultType="pd">
		<!--select -->
			<!--t.area as pname,-->
			<!--count(t.id) as cnt -->
		<!--from bigdata_person_trading_center t-->
		<!--where 1=1 -->
		<!--<if test="pd.startDate!= null and pd.startDate != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
			<!--and-->
				<!--(-->
				<!--t_orderNum_first &gt; DATE(#{pd.startDate})-->
				<!--)-->
		<!--</if>-->
		<!--<if test="pd.endDate!= null and pd.endDate != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
			<!--and-->
				<!--(-->
				<!--t_orderNum_first &lt; DATE(#{pd.endDate})-->
				<!--)-->
		<!--</if>-->
		<!--GROUP BY t.area order by count(t.id) desc limit 10-->

		select  	pl.Provincial as pname, count(bptc.id) as cnt
		from provincial pl ,city cy,bigdata_person_trading_center bptc , bigdata_ota_person_trading_center boptc
		where 1=1
		and pl.pid = cy.pid and bptc.area = cy.city and boptc.mobile = bptc.mobile
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			boptc.firsttime &gt; DATE(#{pd.startDate})
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			boptc.firsttime &lt; DATE(#{pd.endDate})
			)
		</if>
		GROUP BY	pl.Provincial  order by count(bptc.id) desc limit 10






	</select>
	
	<select id="cityChart" parameterType="page" resultType="pd">
		<!--select -->
			<!--t.area as cname,-->
			<!--count(t.id) as cnt -->
		<!--from bigdata_person_trading_center t-->
		<!--where 1=1-->
		<!--<if test="pd.startDate!= null and pd.startDate != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
			<!--and-->
				<!--(-->
				<!--t_orderNum_first &gt; DATE(#{pd.startDate})-->
				<!--)-->
		<!--</if>-->
		<!--<if test="pd.endDate!= null and pd.endDate != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
			<!--and-->
				<!--(-->
				<!--t_orderNum_first &lt; DATE(#{pd.endDate})-->
				<!--)-->
		<!--</if>-->
		<!--GROUP BY t.area order by cnt desc limit 10-->


		select  	cy.city as cname, count(bptc.id) as cnt
		from provincial pl ,city cy,bigdata_person_trading_center bptc  , bigdata_ota_person_trading_center boptc
		where 1=1
		and pl.pid = cy.pid and bptc.area = cy.city and boptc.mobile = bptc.mobile
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			boptc.firsttime &gt; DATE(#{pd.startDate})
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			boptc.firsttime &lt; DATE(#{pd.endDate})
			)
		</if>
		GROUP BY	cy.city order by count(bptc.id) desc limit 10;


	</select>
	
</mapper>