<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonLabelMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PERSONLABEL
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		USERNAME,
		USERNUM,
		USERAGE,
		USERLABEL,
		CREATEDATE,
		PERSONLABEL_ID
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{USERNAME},
		#{USERNUM},
		#{USERAGE},
		#{USERLABEL},
		#{CREATEDATE},
		#{PERSONLABEL_ID}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
			PERSONLABEL_ID = #{PERSONLABEL_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			ID = #{ID},
			USERNAME = #{USERNAME},
			USERNUM = #{USERNUM},
			USERAGE = #{USERAGE},
			USERLABEL = #{USERLABEL},
			CREATEDATE = #{CREATEDATE},
		PERSONLABEL_ID = PERSONLABEL_ID
		where
		PERSONLABEL_ID = #{PERSONLABEL_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			PERSONLABEL_ID = #{PERSONLABEL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>


	<!--查询 优质男性游客类群-->
	<select id="highQualityMaleGroup" parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus,bp.gender,bp.age,bp.consumerIndex
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='未婚' and bp.age ='25-30岁' and bp.gender='男' and bp.consumerIndex ='高' and bp.area in ('上海市','南京市','苏州市','无锡市','南通市','常州市','镇江市','扬州市','泰州市','杭州市','宁波市','绍兴市','嘉兴市','湖州市','舟山市','台州市')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus,bp.gender,bp.age,bp.consumerIndex

	</select>


	<!--查询 优质女性游客类群-->
	<select id="highQualityFemaleGroup" parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus,bp.gender,bp.age,bp.consumerIndex
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='未婚' and bp.age ='25-30岁' and bp.gender='女' and bp.consumerIndex ='高' and bp.area in ('上海市','南京市','苏州市','无锡市','南通市','常州市','镇江市','扬州市','泰州市','杭州市','宁波市','绍兴市','嘉兴市','湖州市','舟山市','台州市')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus,bp.gender,bp.age,bp.consumerIndex

	</select>


	<!--查询 亲子游类群-->
	<select id="parentChildTourGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='已婚' and bp.isChild='有孩子' and bp.age in ('25-30岁','31-35岁','36-40岁','41岁以上')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>


	<!--查询 中年游客类群-->
	<select id="middleAgedTouristsGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='已婚' and bp.isChild='有孩子' and bp.age in ('41岁以上','50岁以上')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>


	<!--查询 老年游客类群-->
	<select id="elderlyTouristsGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='已婚' and bp.isChild='有孩子' and bp.age in ('60岁以上')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>

	<!--查询 穷游类群-->
	<select id="poorTravelGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='未婚' and bp.isChild='无孩子' and bp.consumerIndex ='低' and bp.area not in ('上海市','南京市','苏州市','无锡市','南通市','常州市','镇江市','扬州市','泰州市','杭州市','宁波市','绍兴市','嘉兴市','湖州市','舟山市','台州市')  and bp.age in ('25-30岁','31-35岁','36-40岁','41岁以上')
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>

	<!--查询 职场小白类群-->
	<select id="workplaceWhiteGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='未婚' and bp.isChild='无孩子' and bp.age in ('24岁以下') and bp.consumerIndex ='高'
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>


	<!--查询 学生类群-->
	<select id="studentGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='未婚' and bp.isChild='无孩子' and bp.age in ('16岁以上','24岁以下') and bp.consumerIndex ='高'
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>
	<!--查询 家庭主妇类群-->
	<select id="houseWifeGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where bp.maritalStatus ='已婚' and bp.gender='女' and bp.consumerIndex ='高'
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>


	<!--查询 高端类群-->
	<select id="highEndPopulationGroup"   parameterType="page" resultType="pd">

		select  TRUNCATE( count(*)/(select count(*) from bigdata_person_trading_center ),2) proportion  ,count(*)  as userNumber
		,bp.maritalStatus
		from bigdata_person_trading_center bp
		inner join bigdata_ota_person_trading_center bo on bo.mobile=bp.mobile
		where     bp.consumerIndex ='高'  and bp.tourismCharacteristics='国外旅游'
		<if test="pd.startDate != null and pd.startDate != '' ">
			and firsttime <![CDATA[ >= ]]> #{pd.startDate}
		</if>
		<if test="pd.startDate != null and pd.startDate != '' ">
			and  firsttime<![CDATA[ <= ]]> #{pd.endDate}
		</if>
		GROUP BY bp.maritalStatus

	</select>




	<!--查询 优质男性游客类群-->
	<select id="selectMobileList"   resultType="list">

			select mobile from bigdata_person_trading_center

	</select>



	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
			PERSONLABEL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!-- fh313596790qq(青苔) -->
</mapper>