<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TourChartYearMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BIGDATA_OTA_TOURCHART_YEAR
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		SPOTNAME,	
		SPOTID,	
		MONTH,	
		YEAR,	
		TOURNUM,	
		TOTALNUM
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{SPOTNAME},	
		#{SPOTID},	
		#{MONTH},	
		#{YEAR},	
		#{TOURNUM},	
		#{TOTALNUM},	
		#{TOURCHARTYEAR_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TOURCHARTYEAR_ID = #{TOURCHARTYEAR_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ID = #{ID},
			SPOTNAME = #{SPOTNAME},
			SPOTID = #{SPOTID},
			MONTH = #{MONTH},
			YEAR = #{YEAR},
			TOURNUM = #{TOURNUM},
			TOTALNUM = #{TOTALNUM},
		TOURCHARTYEAR_ID = TOURCHARTYEAR_ID
		where 
		TOURCHARTYEAR_ID = #{TOURCHARTYEAR_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TOURCHARTYEAR_ID = #{TOURCHARTYEAR_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TOURCHARTYEAR_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="tourRatioDay" parameterType="page" resultType="pd">


		select  case uc.tmarea
		when '0' then '00'
		when '1' then '01'
		when '2' then '02'
		when '3' then '03'
		when '4' then '04'
		when '5' then '05'
		when '6' then '06'
		when '7' then '07'
		when '8' then '08'
		when '9' then '09'
		when '10' then '10'
		when '11' then '11'
		when '12' then '12'
		when '13' then '13'
		when '14' then '14'
		when '15' then '15'
		when '16' then '16'
		when '17' then '17'
		when '18' then '18'
		when '19' then '19'
		when '20' then '20'
		when '21' then '21'
		when '22' then '22'
		when '23' then '23'
		end as tmarea ,
		uc.cnt/(select sum(s.tournum) from bigdata_ota_tourchart_day s
		where 1=1
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			s.date <![CDATA[ >= ]]> #{pd.startDate}
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			s.date <![CDATA[ <= ]]> #{pd.endDate}
			)
		</if>
		) as averageRate
		from (select t.tmarea as tmarea, sum(t.tournum) as cnt
		from bigdata_ota_tourchart_day t
		where 1=1
		<if test="pd.startDate!= null and pd.startDate != ''"><!-- 关键词检索 -->
			and
			(
			t.date <![CDATA[ >= ]]> #{pd.startDate}
			)
		</if>
		<if test="pd.endDate!= null and pd.endDate != ''"><!-- 关键词检索 -->
			and
			(
			t.date <![CDATA[ <= ]]> #{pd.endDate}
			)
		</if>
		and t.tmarea  is not null group by t.tmarea) as uc group by uc.tmarea order by uc.tmarea;


	</select>
	
	<select id="tourRatioTotal" parameterType="page" resultType="pd">

	select  case uc.tmarea
			when '0' then '00'
			when '1' then '01'
			when '2' then '02'
			when '3' then '03'
			when '4' then '04'
			when '5' then '05'
			when '6' then '06'
			when '7' then '07'
			when '8' then '08'
			when '9' then '09'
			when '10' then '10'
			when '11' then '11'
			when '12' then '12'
			when '13' then '13'
			when '14' then '14'
			when '15' then '15'
			when '16' then '16'
			when '17' then '17'
			when '18' then '18'
			when '19' then '19'
			when '20' then '20'
			when '21' then '21'
			when '22' then '22'
			when '23' then '23'
			end as tmarea ,
	 		uc.cnt/(select sum(s.tournum) from bigdata_ota_tourchart_day s ) as averageRate from
			 (select t.tmarea as tmarea, sum(t.tournum) as cnt from bigdata_ota_tourchart_day t where t.tmarea  is not null group by t.tmarea order by t.tmarea ) as uc
			group by uc.tmarea order by uc.tmarea asc;


-- 			select
-- 			sum(tournum)/(select count(*) from bigdata_ota_tourchart_day where tmarea = '11' ) as sumnum,
-- 			sum(rationum)/(select count(*) from bigdata_ota_tourchart_day where tmarea = '11' ) as sumratio,
-- 			tmarea   , case tmarea
-- 			when '0' then '00'
-- 			when '1' then '01'
-- 			when '2' then '02'
-- 			when '3' then '03'
-- 			when '4' then '04'
-- 			when '5' then '05'
-- 			when '6' then '06'
-- 			when '7' then '07'
-- 			when '8' then '08'
-- 			when '9' then '09'
-- 			when '10' then '10'
-- 			when '11' then '11'
-- 			when '12' then '12'
-- 			when '13' then '13'
-- 			when '14' then '14'
-- 			when '15' then '15'
-- 			when '16' then '16'
-- 			when '17' then '17'
-- 			when '18' then '18'
-- 			when '19' then '19'
-- 			when '20' then '20'
-- 			when '21' then '21'
-- 			when '22' then '22'
-- 			when '23' then '23'
-- 			end as descs
-- 		from bigdata_ota_tourchart_day
-- 		where 1=1 and spotId = '1'
-- 		group by tmarea order by descs asc

	</select>
	
</mapper>