<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BikeAreaMapper">
	

	

	

	
	<!-- 加载列表 date(#{pd.startDate})-->

	<select id = "localListPage"   resultType="pd">
		select count(bbt.id)as cyclingTimes,bbt.RentPark,bbt.ReturnPark from  bigdata_bike_trace bbt
		where from_unixtime(bbt.RentTm/1000, '%Y-%m-%d') <![CDATA[ <= ]]>   DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 DAY),'%Y-%m-%d')
		and from_unixtime(bbt.RentTm/1000, '%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 DAY),'%Y-%m-%d')
		group by bbt.RentPark,bbt.ReturnPark

	</select>

	<!-- 根据时间查询列表 -->
	<select id="selectListByDate" parameterType="page" resultType="pd">
		select count(bbt.id)as cyclingTimes,bbt.RentPark,bbt.ReturnPark from  bigdata_bike_trace bbt
		where from_unixtime(bbt.RentTm/1000, '%Y-%m-%d') <![CDATA[ <= ]]>   date(#{pd.endDate})
		and from_unixtime(bbt.RentTm/1000, '%Y-%m-%d') <![CDATA[ >= ]]>  date(#{pd.startDate})
		group by bbt.RentPark,bbt.ReturnPark

	</select>


	<!--起点名称-->
	<select id="selectPentPark" resultType="pd">
		select distinct RentPark from bigdata_bike_trace where RentPark is not null;
	</select>

	<!--返回名称-->
	<select id="selectReturnPark" resultType="pd">
		select distinct ReturnPark from bigdata_bike_trace where ReturnPark is not null;
	</select>


	<!-- 列表(全部) -->
	<!--<select id="listAll" parameterType="pd" resultType="pd">-->
		 <!---->
	<!--</select>-->
	

</mapper>