<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OTABuyNumMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ota_buynum
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,
		agent_name,
		buynums,
		regitertime
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{agent_name},
		#{buynums},
		#{regitertime}
	</sql>


	
	<!-- 获取每天各大平台的售票总数 -->
	<select id="getOtaBumSum" parameterType="pd" resultType="pd">
		SELECT SUM(buynums),agent_name from
		<include refid="tableName"></include>
		WHERE regitertime=#{regitertime}
		GROUP BY agent_name;
	</select>
	
</mapper>